@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}


.common-btn{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    /* gap: 7px; */
    background: #1C4EFE;
    color: #FFFFFF;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
}

.common-span{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 7px 60px;
    color: #FFFFFF;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 24px;
    /* Line height: 142%; */
}

.common-span:hover{
color: #000000;
}

.main-container-1{
    background-image: url("https://s3-alpha-sig.figma.com/img/e727/bfc0/9822cee7c94a7891a98177f6e1317e40?Expires=1685923200&Signature=LzHwZAoGAxm7J9KgF5BbseT8M~AJdPKWghaenZkpgemV0RdY4Srh21A7opWTXttN~eYcp9cflNxPbpvDlraU1zg5MohyUHvF3ZxNpgJFDPpgnbPBgk7es~umTqohyJfYNhSxzQji5NRXQNqT1qncmApFMNVklqfv14T5JXFA7DECnRLI1cNWolLqJBhpObAcBsPEaIDxNKTA4Unk4ciInanVFm4oKbohaotcwZKU9YWLN61hf56ZYL7lEACmkrHwlTZc0syjm8sqko1M2uaUBYivNIwVa~DZeocLa3hoqMxUQHSvng0jbqtX4GzAmBauxyeWDLxbi-jLpXDSL6jH7A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    /* display: flex;
    flex-direction: row; */

}
